#PRAW Variables
CLIENT_ID=
CLIENT_SECRET=
USER_AGENT=
SUBREDDIT=
MIN_POST_LENGTH=0
MAX_POST_LENGTH=40000

#ElevenLabs API
ELEVENLABS_API_KEY=

#OPENAI API
OPENAI_API_KEY=
#Defaults to GPT-3.5 if FALSE
USE_GPT_4=FALSE

#FFMPEG
#Either the filename of a file in the background-videos folder or RANDOM to select a random .mp4 file from the folder
BG_VIDEO_FILENAME=
#TRUE or FALSE to enable or disable automated subtitles
SUBTITLES=FALSE
#TRUE or FALSE to enable or disable randomized start times for the background video
#This is useful if you have a long video and want to avoid the same part of the video being used every time
RANDOM_START_TIME=TRUE
#Set the VCODEC. Defaults is libx264, but can change to use h264_nvenc for some Nvidia GPUs
VCODEC=libx264
#Sets the number of threads used for encoding
THREADS=4
#If you want subtitles or not
SUBTITLES=TRUE